*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    background-color: #ffffff;
    font-size: 12px;
    font-family:'Faustina', 'lora', 'mate-sc-static', 'Merriweather-static';
    color: #010B13;
    scroll-behavior: smooth;
    
}

::selection{
    background-color: #ef778b;
    color: #010B13;
}

body{
    width: 100%;
    height: fit-content;
}

.container{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;

    header{
        width: 100%;
        min-height: 80px;
        display: flex;
        flex-direction: column;
        padding: 1.25rem 2.5%;
        gap: 5px;
        font-size: clamp(1.25rem, 1.5vw, 1.5rem);
        box-shadow: 1px 1px 8px #010B13;
        background-color: #ffffff;
        position: sticky;
        top: 0;
        z-index: 999;

        .header-nav{
            font-size: clamp(1.25rem, 3vw, 3rem);
            letter-spacing: 0.45rem;
            width: 100%;
            height: auto;
            display: flex;
            align-items: center;
            justify-content: space-between;
            background-color: #ffffff;
            .header-buttons{
                gap: 20px;
                justify-content: center;
                align-items: center;
                display: flex;
                .accountLink{
                    .loginbutton{
                        background-color: #010B13;
                        color: white;
                        cursor: pointer;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width:3rem;
                        height: 3rem;
                        border-radius: 50%;
                        border: none;
                        flex-direction: column;
                        font-size: 16px;
                        .body{
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            flex-direction: column;
                            .head{
                                background-color: #F4F0EC;
                                width:1rem;
                                height: 1rem;
                                border-radius: 50%;
                            }
                            
                            .lbody{
                                width: 1.25rem;
                                height: 0.65rem;
                                background-color: #F4F0EC;
                                border-radius: 30px 30px 0 0; 
                            }
                        }
                    }
                    .loginbutton:hover{
                        background-color: #1C2E43;
                        outline: 2px solid #05051f;
                        .head{
                            background-color: #E9C5B8;
                        }
                        .lbody{
                            background-color: #E9C5B8;
                        }
                    }

                }
                .accountLink:hover{
                    color: transparent;
                    border-left: none ;
                    padding: 0;
                    background-color: transparent;
                }

            }

            .menuIcon {
                display: none;
                cursor: pointer;
            
                .bar {
                  display: none;
                  width: 1.75rem;
                  height: 4px;
                  margin: 3px auto;
                  background-color: #010B13;
                }
              }

            a{
                color: #010B13;
                text-decoration: none;
                transition: .2s ease-in;
            }
            a:hover{
                color: #E9C5B8;
                border-left: 10px solid #E9C5B8;
                padding: 2.5px 2rem;
                background-color: #1C2E43;
            }

        }

        hr{
            width: 100%;
            height: 5px;
            background-color: #010B13;
        }

        ul{
            display: flex;
            width: 100%;
            gap: 5px;
            li{
                list-style: none;
                margin: 0.75rem 0;
                text-wrap: nowrap;
                a{
                    color: #010B13;
                    text-decoration: none;
                    border-left: 5px solid rgb(0, 0, 0);
                    transition: .2s ease-in;
                    padding: 0.5rem 1.5rem;
                    font-size: clamp(1.25rem, 2vw, 1.5rem);
                    letter-spacing: 0.25rem;
                }
                a:hover{
                    color: #E9C5B8 !important;
                    border-left: 10px solid #E9C5B8 !important;
                    padding: 1rem 2rem;
                    background-color: #1C2E43;
                }
                a:focus{
                    color: #E9C5B8 !important;
                    border-left: 10px solid #E9C5B8 !important;
                    background-color: #1C2E43;
                }
                a:visited{
                    color: #0d0d38;
                    border-color: #0d0d38;
                }
            }
        }
    }

    @media  screen and (max-width: 1000px) {
        header{
                position: sticky;
                top: 0;
            .header-nav{
                .menuIcon{
                    display: block;
                    .bar{
                        display: block;
                    }
                }
            }
            nav{
                ul{
                    display: none;
                    flex-direction: column;
                    align-items: end;
                }
            }
        }
    }

    .content{
        width: 100%;
        height: fit-content;
        display: flex;
        flex-direction: column;

        .intro{
            width: 95%;
            height: auto;
            margin: auto;
            display: flex;
            flex-direction: column;
            gap: 3.5rem;

            h1{
                font-size: clamp(2rem, 4vw, 7rem);
                max-width: 80%;
                text-wrap: balance;
                text-align: center;
                margin: 0 auto;
                padding: 2.5rem 0;
                letter-spacing: 0.35rem;

            }

            .mainimg{
                display: flex;
                flex-direction: column;
                img{
                    margin: auto;
                    width: 100%;
                    height: clamp(20rem, 50vw, 50rem);
                    background-size: cover;
                    border:3px solid white;
                    outline: 5px solid #242525;
                    background-color: #9E919A;
                }
                figcaption{
                    text-decoration: none;
                    font-size: clamp(1rem, 2vw, 1.5rem);
                    text-align: end;
                    width: 98%;
                    margin-top: 1rem;
                }
            }

            hr{
                width: 35%;
                height: 10px;
                background-color: #BDA4A8;
            }

            section{
                display: flex;
                flex-direction: column;
                gap: 1rem;
                margin-top: 2rem ;
                margin-bottom: 10rem;
                h2{
                    font-size: clamp(2.5rem, 4.25vw, 4.25rem);
                    text-align: left;
                    letter-spacing: 0.3rem;
                }
                p{
                    display: flex;
                    max-width: 100%;
                    font-size: clamp(1.25rem, 2.25vw, 2.25rem);
                    margin-left: 15vw;

                    padding-left: 2rem;
                    border-left: 10px solid #4C4B5B;
                    padding-bottom: 2rem;
                    letter-spacing: 0.1rem;
                }
            }
        }

        .companyCore{
            width: 100%;
            height: fit-content;
            background-color: #1C2E43;
            padding: 7rem 2.75rem;
            display: flex;
            flex-direction: column;
            gap: 3rem;
            margin-bottom: 2rem;
            h1{
                color: #dca0aa;
                font-size: clamp(2.25rem, 4vw, 4rem);
            }
            section{
                width: 100%;
                margin: auto;
                display: flex;
                flex-direction: column;
                gap: 3rem;
                h2{
                    color: #ffd6dd;
                    font-size: clamp(1.1rem, 2vw, 2rem);
                }
                details{
                    border: 5px solid #F4F0EC;
                    border-radius: 9px;
                    transition: background-color .3s ease-in;

                    summary{
                        font-size: clamp(1.5rem, 2vw, 2.25rem);
                        color: #F4F0EC;
                        padding: 2.25rem;
                        transition: .3s ease-in;
                    }
                    summary:hover{
                        background-color: #F4F0EC;
                        color: #010B13;
                    }

                }
                details[open]{
                    background-color: #F4F0EC;
                    summary{
                        color: #010B13;
                        border-bottom: 5px solid #010B13;
                        margin-bottom: 1rem;
                    }
                    p{
                        font-size: clamp(1rem, 2vw, 1.75rem);
                        padding: 1rem;
                    }
                    ul{
                        padding-left: 5rem;
                        padding-bottom: 1.5rem;
                        li{
                            list-style: square;
                            font-size: clamp(1rem, 2vw, 1.75rem);
                        }
                        
                    }
                }
            }
        }

        .reviews{
            width: 100%;
            display: flex;
            flex-direction: column;
            margin: 4rem 0;
            h1{
                font-size: clamp(3.5rem, 5vw, 5rem);
                text-align: center;
            }
            section{
                display: flex;
                flex-direction: column;
                gap: 1rem;
                h2{
                    font-size: clamp(1.2rem, 1.75vw, 1.75rem);
                    text-align: center;
                }
                .carousel{
                    width: 90%;
                    height: fit-content;
                    margin: auto;
                    display: flex;
                    overflow-x: auto;
                    overflow-y: hidden;
                    flex-direction: row;
                    gap: 15px;
                    padding: 2rem;
                    .cItem {
                        min-width: 30rem;
                        min-height: 350px;
                        background-color: #1C2E43;
                        border:3px solid white;
                        outline: 5px solid #242525;
                        border-radius: 30px;
                        padding: 2rem 2rem 5rem 2rem;
                        display: flex;
                        flex-direction: column;
                        gap: .75rem;

                        h3{
                            color: #d3aab0;
                            font-size: clamp(2.5rem, 3vw, 3rem);
                            text-decoration: underline;
                        }
                        p{
                            color: whitesmoke;
                            font-size: clamp(1.5rem, 1.75vw, 1.75rem);
                            text-wrap: balance;
                        }
                    }
                }
            }
        }

        .redirect{
            width: 100%;
            height: fit-content;
            margin: 1rem 0 4rem 0;
            hr{
                width: 80%;
                margin: auto;
                border: 2px solid black;
            }
            h1{
                font-size: clamp(2.75rem, 4vw, 4rem);
                text-align: center;
                padding: 3rem 0;
                text-wrap: balance;
            }
            .cardContainer{
                width: 90%;
                margin: 0 auto;
                height: fit-content;
                display: flex;
                justify-content: space-between;
                section{
                    width: 49%;
                    min-height: 30rem;
                    background-color: #1C2E43;
                    border:3px solid white;
                    outline: 5px solid #242525;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    gap: 2rem;
                    padding: 2.6rem;
                    h2{
                        font-size: clamp(2.25rem, 4vw, 4rem);
                        text-align: center;
                        color: #dca0aa;
                        text-wrap: balance;
                    }
                    p{
                        font-size: clamp(1.2rem, 1.75vw, 1.75rem);
                        width: 95%;
                        text-align: center;
                        color: rgba(245, 245, 245, 0.847);
                        text-wrap: balance;
                    }
                    a{
                        padding: 1.25rem 3rem;
                        font-size: clamp(1rem, 1.5vw, 1.5rem);
                        color: black;
                        background-color: whitesmoke;
                        text-decoration: none;
                    }
                    a:hover{
                        background-color: #1C2E43;
                        border: 5px solid white;
                        color: white;
                        cursor: pointer;
                    }
                }
            }
            @media screen and (max-width: 800px){
                .cardContainer{
                    flex-direction: column;
                    gap: 4rem;
                    section{
                        width: 90%;
                        margin: auto;
                    }
                }
            }
        }

        .menuHeader{
            text-align: center;
            padding: 3rem 0;
            font-size: clamp(2.5rem, 5vw, 5rem);
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #1C2E43;
            border-bottom: 2px solid white;
            color: #ffffff;
            margin-bottom: 7rem;
            padding: clamp(2.5rem, 8vw, 8rem) 0;
        }
        .menu{
            display: flex;
            width: 100%;
            height: fit-content;
            margin: auto;
            padding-bottom: 4rem;
            .sidebar{
                display: flex;
                flex-direction: column;
                width: 24%;
                height: fit-content;
                text-wrap: balance;
                position: sticky;
                top:200px;
                padding-left: 1.5rem;
                nav{
                    ul{
                        display: flex;
                        flex-direction: column;
                        list-style: none;
                        justify-content: space-between;
                        gap: 6rem;
                        li{
                            a{
                                text-decoration: none;
                                color: #1C2E43;
                                font-size: clamp(1.25rem, 3.5vh, 3.5rem);
                                font-weight: bolder;
                                width: 100%;
                                border-bottom: 5px solid #1C2E43;
                                text-wrap: nowrap;
                                padding-right: 1.5rem;
                            }
                            a:hover{
                                color: #E9C5B8 !important;
                                border-left: 10px solid #E9C5B8 !important;
                                padding: 1rem 2rem;
                                background-color: #1C2E43;
                            }
                            a:focus{
                                color: #E9C5B8 !important;
                                border-left: 10px solid #E9C5B8 !important;
                                background-color: #1C2E43;
                            }
                            a:visited{
                                color: #0d0d38;
                                border-color: #0d0d38;
                            }
                        }
                    }
                }
            }
            .menuOptions{
                width: 74%;
                height: fit-content;
                display: flex;
                flex-direction: column;
                gap: 30px;
                section{
                    display: flex;
                    flex-direction: column;
                    h2{
                        font-size: clamp(2.5rem, 3.5vw, 3.5rem);
                        scroll-margin-top: 170px;
                        text-decoration: underline;
                    }
                    .menuSlider{
                        display: flex;
                        overflow-y: hidden;
                        overflow-x: auto;
                        gap: 15px;
                        figure{
                            margin: 2rem;
                            width: 300px;
                            img{
                                width: 300px;
                                height: 300px;
                                border-radius: 50%;
                                border: 3px solid white;
                                outline: 5px solid black;
                                margin-bottom: 1rem;
                            }
                            figcaption{
                                text-align: center;
                                a{
                                    color: black;
                                }
                                a:hover{
                                    color: #E9C5B8 !important;
                                }
                                a:focus{
                                    color: #E9C5B8 !important;
                                }
                                a:visited{
                                    color: #0d0d38;
                                }
                            }
                        }
                    }
                }
            }
        }
        .bgCredit{
            width: 100%;
            height: fit-content;
            background-color: lightgrey;
            text-align: center;
            font-size: clamp(1rem, 1.5vw, 1.5rem);
            a{
                color:#8f4b56
            }
            a:hover{
                color: #1C2E43 !important;
            }
            a:focus{
                color: #1C2E43 !important;
            }
            a:visited{
                color: #0d0d38;
            }
        }

        .externalRecipies{
            display: flex;
            flex-direction: column;
            width:100%;
            margin: 5rem 0 auto;
            padding: 5rem 0;
            background-size:cover;
            background-position: 100% 50%;
            background-repeat: no-repeat;

            p{
                font-size: clamp(2.5rem, 3.5vw, 3.5rem);
                text-wrap: balance;
                padding-bottom: 2rem;
                width: 95%;
                background-color: #cbcbcba5;
                margin: auto;
                text-align: center;
                padding-top: 5rem;
            }
            .linkCard{
                width: 95%;
                background-color: #cbcbcba5;
                margin: auto;
                padding: 0 clamp(2rem, 10vw, 10rem);
                section{
                    width: 100%;
                    margin-bottom: 4rem;
                    h2{
                        font-size: clamp(1.5rem, 2.5vw, 2.5rem);
                    }
                    ul{
                        list-style:square inside;
                        padding-bottom: 1rem;
                        li{
                            padding-left: 2rem;
                            font-size: clamp(1rem, 2vw, 2rem);
                            a{
                                text-decoration: underline;
                                color: #8f4b56;
                            }
                            a:hover{
                                color: #dc8694 !important;
                            }
                            a:focus{
                                color: #dc8694 !important;
                            }
                            a:visited{
                                color: #0d0d38;
                            }
                        }
                    }
                }
            }
        }

        @media screen and (max-width:1025px) {
            .menuHeader{
                margin-bottom: 0rem;
            }
            .menu{
                flex-direction: column;
                gap: 25px;
                .sidebar{
                    flex-direction: row;
                    width: 100%;
                    position: sticky;
                    top: 130px;
                    background-color: #1C2E43;
                    nav{
                        width: 100%;
                        ul{
                            flex-direction: row;
                            list-style: none;
                            overflow-y: hidden;
                            overflow-x: auto;
                            
                            li{
                                padding: 2rem;
                                a{
                                    text-decoration: none ;
                                    border-bottom: none;
                                    color: #ffffff !important;
                                    text-wrap: nowrap;
                                    font-size: clamp(1.25rem, 3.25vw, 3.25rem);
                                }
                            }
                        }
                    }

                }
                .menuOptions{
                    width: 90%;
                    margin: auto;
                }
            }
        }
        @media screen and (max-width: 1000px){
            .menu{
                .sidebar{
                    top:85px;
                }
            }
        }

        @media screen and (max-width: 900px){
            .menu{
                .sidebar{
                    top:85px;
                }
            }
        }
        @media screen and (max-width: 800px){
            .menu{
                .sidebar{
                    top:85px;
                }
            }
        }

        @media screen and (max-width: 700px){
            .menu{
                .sidebar{
                    top:80px;
                }
            }
        }

        @media screen and (max-width: 340px){
            .menu{
                .sidebar{
                    top:100px;
                }
            }
        }

        .itemContent{
            width: 95%;
            margin: 5rem  auto;
            display: flex;
            gap: 2.5%;
            .itemDescription{
                width: 50%;
                display: flex;
                flex-direction: column;
                gap:35px;
                h1{
                    font-size: clamp(3rem, 5vw, 5rem);
                    width: 100%;
                }
                p{
                    font-size: clamp(1.25rem, 2vw, 2rem);
                    width: 90%;
                }
                a{
                    width: fit-content;
                    text-decoration: none;
                    padding: 1rem 3rem;
                    font-size: 1.25rem;
                    background-color: #1C2E43;
                    color: white;
                    border: 3px solid white;
                    outline: 5px solid black;
                }
                a:hover{
                    cursor: pointer;
                    background-color: white;
                    color: black;
                }
            }
            figure{
                width: 50%;
                display: flex;
                flex-direction: column;
                gap: 2rem;

                img{
                    display: flex;
                    width: 100%;
                    border-radius: 5%;
                    border: 3px solid white;
                    outline: 5px solid black;
                }
                figcaption{
                    font-size: clamp(1rem, 2vw, 2rem);
                    text-align: center;
                }
            }
        }

        @media screen and (max-width:800px) {
            .itemContent{
                flex-direction: column-reverse;
                gap: 2rem;
                .itemDescription{
                    width: 100%;
                    text-align: center;
                    align-items: center;
                    p{
                        width: 100%;
                        padding: 0 2rem;
                        margin: auto;
                    }
                }
                figure{
                    width: 90%;
                    margin: auto;
                }
            }
        }

        .tableTitle{
            width: 90%;
            padding-bottom: 3rem;
            text-align: center;
            font-size: clamp(1.25rem, 3vw, 3rem);
            text-wrap: balance;
            margin: auto;
        }

        .itemPairing{
            width: 90%;
            overflow-x: auto;
            margin: auto;
            padding-bottom: 5rem;
            table{
                width: 90%;
                min-width: 800px;
                min-height: 700px;
                border-collapse: collapse;
                margin: auto;
                font-size: 2rem;
                text-align: center;
                tbody{
                    .rowShade{
                        background-color: #1C2E43;
                        color: white;
                    }
                }
            }
        }

        .accountPage{
            display: flex;
            width: 100%;
            flex-direction: column;

            .userHeader{
                display: flex;
                flex-direction: column;
                background-color: white;
                width: 100%;
                border: 15px solid #1C2E43;
                figure{
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    .blankSpace{
                        width: 30%;
                        height: 400px;
                        background-color: #1C2E43;
                        background-image: url(/images/menuBGL.jpg);
                        background-position: 0;
                    }
                    figcaption{
                        width: 70%;
                        height: fit-content;
                        display: flex;
                        flex-direction: column;
                        margin: auto;
                        text-align: center;
                        gap: 15px;
                        h2{
                            color: black;
                            font-size: clamp(1.75rem, 4vw, 4rem);
                            text-wrap: balance;
                            margin: 0 auto;
                            width: 100%;
                            word-break:break-all;
                        }
                    }
                }
            }

            @media screen and (max-width:500px){
                .userHeader{
                    border: 15px solid #1C2E43;
                    figure{
                        flex-direction: column;
                        width: 100%;
                        .blankSpace{
                            display: none;
                        }
                        figcaption{
                            width: 100%;
                            padding: 5rem 0;
                            background-image: url(/images/menuBGL.jpg);
                            background-position: 50% ;
                            background-size: cover;
                            background-repeat: no-repeat;
                            position: relative;

                            h2{
                                color: white;
                                z-index: 2;
                            }
                        }
                        figcaption::before {
                            content: "";
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            background-color: rgba(0, 0, 0, 0.327);
                            z-index: 1; 
                        }
                    }   
                }
            }
            h1{
                font-size: clamp(2.25rem, 3.75vw, 3.75rem);
                width: 100%;
                text-align: center;
                margin-top:4rem;
                margin-bottom: 2rem;
            }
    
            .tableReserveInfo{
                width: 85%;
                max-height: 500px;
                margin: auto;
                overflow: auto;

                table{
                    min-width: 1000px;
                    border-collapse: collapse;
                    font-size: clamp(1.25rem, 2vw, 1.75rem);
                    margin:0 auto;
                    thead{
                        th{
                            padding: 1rem 2.5rem;
                            text-wrap: nowrap;
                            position: sticky;
                            top: -1px;
                            background-color: #1C2E43;
                            color: white;
                        }
                    }
                    tbody{
                        tr{
                            th{
                                padding: 1rem 2.5rem;
                            }
                            td{
                                padding: 1.5rem 2rem;
                                font-size: 1.5rem;
                                color: black;
                            }
                        }
                    }
                    .rowShade{
                        background-color: #1c2e4320;
                    }
                }
            }

            .updateRes{
                display: flex;
                flex-direction: column;
                gap: 1.5rem;
                width: fit-content;
                margin: 4rem auto;
                align-items: center;
                justify-content: center;
                text-align: center;
                padding: 3.5rem;
                background-color: #1C2E43;
                border: 3px solid white;
                outline: 3px solid black;

                h2{
                    font-size: clamp(2rem, 3.5vw, 2.5rem);
                    color: #e39ba7;
                    width: 100%;
                }
                h3{
                    font-size: clamp(1rem, 2vw, 2rem);
                    color: white;
                    width: 100%;
                }
                button{
                    width: fit-content;
                    padding: 1rem 2rem;
                    background-color: #1C2E43;
                    color: white;
                    border: 2px solid white;
                    outline: 2px solid black;
                }
                button:hover{
                    cursor: pointer;
                    color: black;
                    background-color: white;
                    font-weight: bolder;
                }
            }
            @media screen and (max-width: 700px) {
                .updateRes{
                    width: 80%;
            }}
        }
        @media screen and (max-width: 800px) {
            .accountPage{
                .tableReserveInfo{
                    width: 95%;
                }
            }
        }


        .gallery-nav{
            width: 100%;
            height: auto;
            display: flex;
            flex-direction: column;
            h1{
                text-align: center;
                font-size: clamp(2rem, 5vw, 5rem);
            }
            .imgSection{
                display: flex;
                margin: auto;
                width: 90%;
                flex-wrap: wrap;
                padding: 2.5% 0;
                img{
                    width: 48%;
                    margin: 1%;
                    height: clamp(15rem, 45vw, 45rem);
                    background-size: contain;
                    border-width: 1vw 1vw 3vw 1vw;
                    border-color: whitesmoke;
                    border-style: solid;
                    outline: 1px solid grey;
                }
            }
        }
    }

    .reservationIntro{
        display: flex;
        width: 100%;
        height: fit-content;
        background-color: #1C2E43;
        .heroImg{
            width: 45%;
            figure{
                width: 100%;
                img{
                    width: 100%;
                    height: clamp(30rem, 70vw, 70rem);
                }
            }
            figcaption{
                font-size: clamp(1rem, 2vw, 1.5rem);
                color: whitesmoke;
                a{
                    color: #E9C5B8;
                }
            }
        }
        .heroText{
            width: 55%;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            text-align: center;
            padding: 0 2rem;
            gap: .76rem;

            h1{
                font-size: clamp(3.25rem, 7vw, 7rem);
                color: #dca0aa;

            }
            h2{
                font-size: clamp(1.4rem, 3vw, 3rem);
                width: 90%;
                color: whitesmoke;
                text-wrap: balance;
            }
        }
    }

    @media screen and (max-width:1025px) {
        .reservationIntro{
            flex-direction:column-reverse;
            background-color: transparent;
            .heroImg{
                width: 100%;
                figure{
                    img{
                        width: 100%;
                        height: clamp(40rem, 80vw, 80rem);
                        
                    }
                    figcaption{
                        text-align: end;
                        color: black;
                        a{
                            color:#0d0d38
                        }
                    }
                }

            }
            .heroText{
                width: 85%;
                margin: auto;
                padding: 7.5vh 0;
                text-wrap: pretty;
                h1{
                    color: black;
                }
                h2{
                    width: 100%;
                    color: black;
                }
            }
        }
    }
        form{
            display: flex;
            flex-direction: column;
            width: 90%;
            height: fit-content;
            gap: 2vh;
            margin:5rem auto;

            h1{
                font-size: clamp(2.25rem, 3vw, 3rem);
            }
    
            fieldset{
                border: none;
                legend{
                    font-size: clamp(1.5rem, 2vw, 2rem);
                    text-decoration: underline;
                    margin: 1.5vh 0;
                }
                label{
                    font-size: clamp(1.5rem, 2vw, 1.75rem);
                    display: flex;
                    flex-direction: column;
                    gap: 1rem;
                    input{
                        border-width: 0px 0px 5px 0px;
                        border-color: #010B13;
                        padding: 1.5rem;
                        background-color: transparent;
                    }
                    textarea{
                        border: 3px solid #1C2E43;
                        padding: 1rem;
                        text-wrap: balance;
                        font-size: clamp(1.25rem, 1.5vw, 1.7rem);
                    }

                    input:hover, textarea:hover{
                        border-bottom: 4px solid #ef778b;
                    }
                    input:focus{
                        border-bottom: 4px solid #ef778b;
                    }
                    textarea:hover, textarea:focus{
                        border: 4px solid #ef778b;
                    }
                }
            }
    
            .personInfo{      
                display: flex; 
                flex-direction: column;
                gap: 1.5rem;
                label{
                    #reservationName{
                        width: 100%;
                    }
                }
                fieldset{
                    display: flex;
                    width: 100%;
                    justify-content: space-between;
                    label{
                        width: 49%;
                        gap: 1rem;
                        #emailAddress, #phoneNumber{
                            width: 100%;
                        }
                    }
                }
            }
    
            @media screen and (max-width: 500px) {
                .personInfo{
                    fieldset{
                        flex-direction: column;
                        label{
                            width: 100%;
                        }
                    }
                }
            }
    
            .reservationInfo{
               display: flex;
               justify-content: space-between;
               label{
                width: 30%;
               }
            }
    
            @media screen and (max-width: 600px) {
                .reservationInfo{
                    flex-direction: column;
                    label{
                        width: 100%;
                    }
                }
            }
            
            .formButtons{
                display: flex;
                width: 100%;
                flex-direction: row-reverse;
                justify-content: space-between;
                margin-top: 1.5rem;
                input{
                    width: 47%;
                    padding: 1rem;
                    font-size: 1.5rem;
                    background-color: rgb(234, 234, 234);
                    border: 3px solid white;
                    outline: 5px solid black;
    
                }
                input:hover{
                    background-color: white;
                    color: black;
                    cursor: pointer;
                }

                #submitBtn{
                    background-color: #1C2E43;
                    color: white;
                }
                #submitBtn:hover{
                    background-color: white;
                    color: black;
                }
            }
            @media screen and (max-width:500px) {
                .formButtons{
                    flex-direction: column;
                    gap: 2rem;
                    input{
                        width: 100%;
                    }
                }
            }
        }   

    .citation{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        padding-bottom: 2rem;
        h1{
            font-size: clamp(2rem, 6vw, 6rem);
            text-align: center;
            padding: 7% 0;
        }
        figure{
            width: 95%;
            display: flex;
            flex-direction: row;
            margin: auto;
            gap: 1.5rem;
            img{
                width:50%;
                height: auto;
                max-height: 80rem;
                margin: auto;
                border-radius: 2%;
            }
            figcaption{
                margin: auto;
                width: 50%;
                font-size: clamp(1rem, 2vw, 2rem);
                text-align: center;
            }
        }
    }

    @media screen and (max-width:1200px){
        .citation{
            figure{
                flex-direction: column;
                img{
                    width: 90%;
                }
            }
        }
    }


    


    footer{
        background-color: #1C2E43;
        color: white;
        height: fit-content;
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 2rem;

        .business-info{
            display: flex;
            width: 100%;
            padding: 0 3rem;
            flex-wrap: wrap;
            gap: 2rem;
            .footer-contact{
                display: flex;
                flex-direction: column;
                gap: 1rem;
                h2{
                    font-size: clamp(1.25rem, 2.5vw, 2.5rem);
                    text-decoration: underline;
                }
                ul{
                    list-style-position: inside;
                    list-style-type:square;
                    display: flex;
                    flex-direction: column;

                    li{
                        font-size: clamp(1rem, 1.75vw, 1.75rem);
                        a{
                            color: white;
                        }
                    }
                }
            }
        }

        hr{
            width: 90%;
            margin: auto;
        }


        .s-row{
            display: flex;
            justify-content: space-between;
            margin: 0 3rem;
            flex-wrap: wrap-reverse;
            padding-top: 1rem;

            figure{
                width: 45%;
                iframe{
                    width: 100%;
                    height: clamp(22rem, 35vw, 35rem);
                    background-size: cover;
                    border: 5px solid rgb(255, 255, 255);
                    outline: 5px solid #cbcbcb;
                    background-color: #e1e0e1;
                }
            }
            .operations{
                display: flex;
                flex-direction:column;
                width: 50%;

                h2{
                    font-size: clamp(1.5rem, 3vw, 3rem);
                    text-decoration: underline;
                    margin-bottom: 1rem;
                }

                .dayhours{
                    display: flex;
                    justify-content: space-between;
                    ul{
                        list-style: none;
                        li{
                            font-size: clamp(1.25rem, 2vw, 2rem);
                        }
                    }
                }
            }

        }

        @media screen and (max-width:700px) {
            .s-row{
                flex-direction: column;
                gap: 8vh;
                .operations{
                    width: 100%;
                }
                figure{
                    width: 100%;
                }
            }
        }

        span{
            width: 100%;
            text-align: center;
            font-size: 1rem;
            padding-top: -2rem;
            padding-bottom: 2rem;
        }

        .footer-info{
            display: flex;
            flex-direction: column;
            margin-top: 2.5rem;
            flex-wrap: wrap;
            padding: 0 3rem;
            nav{
                height: fit-content;
                width: 100%;
                padding-top: 2rem;
                ul{
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    gap: 2rem;
                    li{
                        list-style-type: none;
                        a{
                            color: #F4F0EC;
                            text-decoration: none;
                            border-top: 5px solid rgb(255, 255, 255);
                            transition: .2s ease-in;
                            padding: 0.5rem 1.5rem;
                            font-size: clamp(1rem, 2vw, 1.5rem);
                            letter-spacing: 0.25rem;
                        }
                        a:hover{
                            color: #E9C5B8 !important;
                            border-top: 10px solid #E9C5B8 !important;
                            padding: .5rem 2rem;
                            background-color: #1C2E43;
                        }
                        a:focus{
                            color: #E9C5B8 !important;
                            border-top: 10px solid #E9C5B8 !important;
                            background-color: #1C2E43;
                        }
                        a:visited{
                            color: #BDA4A8;
                            border-color: #BDA4A8;
                        }
                    }
                }
            }
            .branding{
                h2{
                    font-size: clamp(3rem, 6vw, 6rem);
                    text-decoration: underline;
                }
            }
        }
    }
}


