* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  background-color: #ffffff;
  font-size: 12px;
  font-family: "Faustina", "lora", "mate-sc-static", "Merriweather-static";
  color: #010B13;
  scroll-behavior: smooth;
}

::-moz-selection {
  background-color: #ef778b;
  color: #010B13;
}

::selection {
  background-color: #ef778b;
  color: #010B13;
}

body {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
}

.container {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
}
.container header {
  width: 100%;
  min-height: 80px;
  display: flex;
  flex-direction: column;
  padding: 1.25rem 2.5%;
  gap: 5px;
  font-size: clamp(1.25rem, 2vw, 1.5rem);
  box-shadow: 1px 1px 8px #010B13;
  background-color: #ffffff;
  position: sticky;
  top: 0;
  z-index: 999;
}
.container header .header-nav {
  font-size: clamp(2rem, 4vw, 3rem);
  letter-spacing: 0.45rem;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
}
.container header .header-nav .header-buttons {
  gap: 20px;
  justify-content: center;
  align-items: center;
  display: flex;
}
.container header .header-nav .header-buttons .loginbutton {
  background-color: #010B13;
  color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  border: none;
  flex-direction: column;
  font-size: 16px;
}
.container header .header-nav .header-buttons .loginbutton .body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.container header .header-nav .header-buttons .loginbutton .body .head {
  background-color: #F4F0EC;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
}
.container header .header-nav .header-buttons .loginbutton .body .lbody {
  width: 1.25rem;
  height: 0.65rem;
  background-color: #F4F0EC;
  border-radius: 30px 30px 0 0;
}
.container header .header-nav .header-buttons .loginbutton:hover {
  background-color: #1C2E43;
  outline: 2px solid #05051f;
}
.container header .header-nav .header-buttons .loginbutton:hover .head {
  background-color: #E9C5B8;
}
.container header .header-nav .header-buttons .loginbutton:hover .lbody {
  background-color: #E9C5B8;
}
.container header .header-nav .menuIcon {
  display: none;
  cursor: pointer;
}
.container header .header-nav .menuIcon .bar {
  display: none;
  width: 1.75rem;
  height: 4px;
  margin: 3px auto;
  background-color: #010B13;
}
.container header .header-nav a {
  color: #010B13;
  text-decoration: none;
  transition: 0.2s ease-in;
}
.container header .header-nav a:hover {
  color: #E9C5B8;
  border-left: 10px solid #E9C5B8;
  padding: 2.5px 2rem;
  background-color: #1C2E43;
}
.container header hr {
  width: 100%;
  height: 5px;
  background-color: #010B13;
}
.container header ul {
  display: flex;
  width: 100%;
  gap: 5px;
}
.container header ul li {
  list-style: none;
  margin: 0.75rem 0;
  text-wrap: nowrap;
}
.container header ul li a {
  color: #010B13;
  text-decoration: none;
  border-left: 5px solid rgb(0, 0, 0);
  transition: 0.2s ease-in;
  padding: 0.5rem 1.5rem;
  font-size: clamp(1.25rem, 2vw, 1.5rem);
  letter-spacing: 0.25rem;
}
.container header ul li a:hover {
  color: #E9C5B8 !important;
  border-left: 10px solid #E9C5B8 !important;
  padding: 1rem 2rem;
  background-color: #1C2E43;
}
.container header ul li a:focus {
  color: #E9C5B8 !important;
  border-left: 10px solid #E9C5B8 !important;
  background-color: #1C2E43;
}
.container header ul li a:visited {
  color: #0d0d38;
  border-color: #0d0d38;
}
@media screen and (max-width: 1000px) {
  .container header {
    position: sticky;
    top: 0;
  }
  .container header .header-nav .menuIcon {
    display: block;
  }
  .container header .header-nav .menuIcon .bar {
    display: block;
  }
  .container header nav ul {
    display: none;
    flex-direction: column;
    align-items: end;
  }
}
.container .content {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
}
.container .content .intro {
  width: 95%;
  height: auto;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 3.5rem;
}
.container .content .intro h1 {
  font-size: clamp(2rem, 4vw, 7rem);
  max-width: 80%;
  text-wrap: balance;
  text-align: center;
  margin: 0 auto;
  padding: 2.5rem 0;
  letter-spacing: 0.35rem;
}
.container .content .intro .mainimg {
  display: flex;
  flex-direction: column;
}
.container .content .intro .mainimg img {
  margin: auto;
  width: 100%;
  height: clamp(20rem, 50vw, 50rem);
  background-size: cover;
  border: 3px solid white;
  outline: 5px solid #242525;
  background-color: #9E919A;
}
.container .content .intro .mainimg figcaption {
  text-decoration: none;
  font-size: clamp(1rem, 2vw, 1.5rem);
  text-align: end;
  width: 98%;
  margin-top: 1rem;
}
.container .content .intro hr {
  width: 35%;
  height: 10px;
  background-color: #BDA4A8;
}
.container .content .intro section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 2rem;
  margin-bottom: 10rem;
}
.container .content .intro section h2 {
  font-size: clamp(2.5rem, 4.25vw, 4.25rem);
  text-align: left;
  letter-spacing: 0.3rem;
}
.container .content .intro section p {
  display: flex;
  max-width: 100%;
  font-size: clamp(1.25rem, 2.25vw, 2.25rem);
  margin-left: 15vw;
  padding-left: 2rem;
  border-left: 10px solid #4C4B5B;
  padding-bottom: 2rem;
  letter-spacing: 0.1rem;
}
.container .content .companyCore {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  background-color: #1C2E43;
  padding: 7rem 2.75rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin-bottom: 2rem;
}
.container .content .companyCore h1 {
  color: #dca0aa;
  font-size: clamp(2.25rem, 4vw, 4rem);
}
.container .content .companyCore section {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.container .content .companyCore section h2 {
  color: #ffd6dd;
  font-size: clamp(1.1rem, 2vw, 2rem);
}
.container .content .companyCore section details {
  border: 5px solid #F4F0EC;
  border-radius: 9px;
  transition: background-color 0.3s ease-in;
}
.container .content .companyCore section details summary {
  font-size: clamp(1.5rem, 2vw, 2.25rem);
  color: #F4F0EC;
  padding: 2.25rem;
  transition: 0.3s ease-in;
}
.container .content .companyCore section details summary:hover {
  background-color: #F4F0EC;
  color: #010B13;
}
.container .content .companyCore section details[open] {
  background-color: #F4F0EC;
}
.container .content .companyCore section details[open] summary {
  color: #010B13;
  border-bottom: 5px solid #010B13;
  margin-bottom: 1rem;
}
.container .content .companyCore section details[open] p {
  font-size: clamp(1rem, 2vw, 1.75rem);
  padding: 1rem;
}
.container .content .companyCore section details[open] ul {
  padding-left: 5rem;
  padding-bottom: 1.5rem;
}
.container .content .companyCore section details[open] ul li {
  list-style: square;
  font-size: clamp(1rem, 2vw, 1.75rem);
}
.container .content .reviews {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 4rem 0;
}
.container .content .reviews h1 {
  font-size: clamp(3.5rem, 5vw, 5rem);
  text-align: center;
}
.container .content .reviews section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.container .content .reviews section h2 {
  font-size: clamp(1.2rem, 1.75vw, 1.75rem);
  text-align: center;
}
.container .content .reviews section .carousel {
  width: 90%;
  height: -moz-fit-content;
  height: fit-content;
  margin: auto;
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  flex-direction: row;
  gap: 15px;
  padding: 2rem;
}
.container .content .reviews section .carousel .cItem {
  min-width: 30rem;
  min-height: 350px;
  background-color: #1C2E43;
  border: 3px solid white;
  outline: 5px solid #242525;
  border-radius: 30px;
  padding: 2rem 2rem 5rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}
.container .content .reviews section .carousel .cItem h3 {
  color: #d3aab0;
  font-size: clamp(2.5rem, 3vw, 3rem);
  text-decoration: underline;
}
.container .content .reviews section .carousel .cItem p {
  color: whitesmoke;
  font-size: clamp(1.5rem, 1.75vw, 1.75rem);
  text-wrap: balance;
}
.container .content .redirect {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  margin: 1rem 0 4rem 0;
}
.container .content .redirect hr {
  width: 80%;
  margin: auto;
  border: 2px solid black;
}
.container .content .redirect h1 {
  font-size: clamp(2.75rem, 4vw, 4rem);
  text-align: center;
  padding: 3rem 0;
  text-wrap: balance;
}
.container .content .redirect .cardContainer {
  width: 90%;
  margin: 0 auto;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  justify-content: space-between;
}
.container .content .redirect .cardContainer section {
  width: 49%;
  min-height: 30rem;
  background-color: #1C2E43;
  border: 3px solid white;
  outline: 5px solid #242525;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 2.6rem;
}
.container .content .redirect .cardContainer section h2 {
  font-size: clamp(2.25rem, 4vw, 4rem);
  text-align: center;
  color: #dca0aa;
  text-wrap: balance;
}
.container .content .redirect .cardContainer section p {
  font-size: clamp(1.2rem, 1.75vw, 1.75rem);
  width: 95%;
  text-align: center;
  color: rgba(245, 245, 245, 0.847);
  text-wrap: balance;
}
.container .content .redirect .cardContainer section a {
  padding: 1.25rem 3rem;
  font-size: clamp(1rem, 1.5vw, 1.5rem);
  color: black;
  background-color: whitesmoke;
  text-decoration: none;
}
.container .content .redirect .cardContainer section a:hover {
  background-color: #1C2E43;
  border: 5px solid white;
  color: white;
  cursor: pointer;
}
@media screen and (max-width: 800px) {
  .container .content .redirect .cardContainer {
    flex-direction: column;
    gap: 4rem;
  }
  .container .content .redirect .cardContainer section {
    width: 90%;
    margin: auto;
  }
}
.container .content .menuHeader {
  text-align: center;
  padding: 3rem 0;
  font-size: clamp(2.5rem, 5vw, 5rem);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1C2E43;
  border-bottom: 2px solid white;
  color: #ffffff;
  margin-bottom: 7rem;
  padding: clamp(2.5rem, 8vw, 8rem) 0;
}
.container .content .menu {
  display: flex;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  margin: auto;
  padding-bottom: 4rem;
}
.container .content .menu .sidebar {
  display: flex;
  flex-direction: column;
  width: 24%;
  height: -moz-fit-content;
  height: fit-content;
  text-wrap: balance;
  position: sticky;
  top: 200px;
  padding-left: 1.5rem;
}
.container .content .menu .sidebar nav ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  justify-content: space-between;
  gap: 6rem;
}
.container .content .menu .sidebar nav ul li a {
  text-decoration: none;
  color: #1C2E43;
  font-size: clamp(1.25rem, 3.5vh, 3.5rem);
  font-weight: bolder;
  width: 100%;
  border-bottom: 5px solid #1C2E43;
  text-wrap: nowrap;
  padding-right: 1.5rem;
}
.container .content .menu .menuOptions {
  width: 74%;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.container .content .menu .menuOptions section {
  display: flex;
  flex-direction: column;
}
.container .content .menu .menuOptions section h2 {
  font-size: clamp(1.25rem, 2.5vw, 2.5rem);
  scroll-margin-top: 170px;
}
.container .content .menu .menuOptions section .menuSlider {
  display: flex;
  overflow-y: hidden;
  overflow-x: auto;
  gap: 15px;
}
.container .content .bgCredit {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  background-color: lightgrey;
  text-align: center;
  font-size: clamp(1rem, 1.5vw, 1.5rem);
}
.container .content .bgCredit a {
  color: #8f4b56;
}
.container .content .externalRecipies {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 5rem 0 auto;
  padding: 5rem 0;
  background: url(/images/menuBGL.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.container .content .externalRecipies h1 {
  font-size: clamp(2.5rem, 3.5vw, 3.5rem);
  text-wrap: balance;
  padding-bottom: 2rem;
  width: 95%;
  background-color: rgba(203, 203, 203, 0.5647058824);
  margin: auto;
  text-align: center;
  padding-top: 5rem;
}
.container .content .externalRecipies .linkCard {
  width: 95%;
  background-color: rgba(203, 203, 203, 0.5647058824);
  margin: auto;
  padding: 0 2rem;
}
.container .content .externalRecipies .linkCard section {
  width: 100%;
  margin-bottom: 2rem;
}
.container .content .externalRecipies .linkCard section h2 {
  font-size: clamp(1.5rem, 2.5vw, 2.5rem);
}
.container .content .externalRecipies .linkCard section ul {
  list-style: square inside;
  padding-bottom: 1rem;
}
.container .content .externalRecipies .linkCard section ul li {
  padding-left: 2rem;
  font-size: clamp(1rem, 2vw, 2rem);
}
.container .content .externalRecipies .linkCard section ul li a {
  text-decoration: underline;
  color: #8f4b56;
}
@media screen and (max-width: 1025px) {
  .container .content .menuHeader {
    margin-bottom: 0rem;
  }
  .container .content .menu {
    flex-direction: column;
    gap: 25px;
  }
  .container .content .menu .sidebar {
    flex-direction: row;
    width: 100%;
    position: sticky;
    top: 130px;
    background-color: #1C2E43;
  }
  .container .content .menu .sidebar nav {
    width: 100%;
  }
  .container .content .menu .sidebar nav ul {
    flex-direction: row;
    list-style: none;
    overflow-y: hidden;
    overflow-x: auto;
  }
  .container .content .menu .sidebar nav ul li {
    padding: 2rem;
  }
  .container .content .menu .sidebar nav ul li a {
    text-decoration: none;
    color: #ffffff;
    text-wrap: nowrap;
    font-size: clamp(1.25rem, 3.25vw, 3.25rem);
  }
  .container .content .menu .menuOptions {
    width: 90%;
    margin: auto;
  }
}
@media screen and (max-width: 1000px) {
  .container .content .menu .sidebar {
    top: 85px;
  }
}
@media screen and (max-width: 900px) {
  .container .content .menu .sidebar {
    top: 85px;
  }
}
@media screen and (max-width: 800px) {
  .container .content .menu .sidebar {
    top: 85px;
  }
}
@media screen and (max-width: 700px) {
  .container .content .menu .sidebar {
    top: 80px;
  }
}
@media screen and (max-width: 340px) {
  .container .content .menu .sidebar {
    top: 100px;
  }
}
.container .content .gallery-nav {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}
.container .content .gallery-nav h1 {
  text-align: center;
  font-size: clamp(2rem, 5vw, 5rem);
}
.container .content .gallery-nav .imgSection {
  display: flex;
  margin: auto;
  width: 90%;
  flex-wrap: wrap;
  padding: 2.5% 0;
}
.container .content .gallery-nav .imgSection img {
  width: 48%;
  margin: 1%;
  height: clamp(15rem, 45vw, 45rem);
  background-size: contain;
  border-width: 1vw 1vw 3vw 1vw;
  border-color: whitesmoke;
  border-style: solid;
  outline: 1px solid grey;
}
.container .reservationIntro {
  display: flex;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  background-color: #1C2E43;
}
.container .reservationIntro .heroImg {
  width: 45%;
}
.container .reservationIntro .heroImg figure {
  width: 100%;
}
.container .reservationIntro .heroImg figure img {
  width: 100%;
  height: clamp(30rem, 70vw, 70rem);
}
.container .reservationIntro .heroImg figcaption {
  font-size: clamp(1rem, 2vw, 1.5rem);
  color: whitesmoke;
}
.container .reservationIntro .heroImg figcaption a {
  color: #E9C5B8;
}
.container .reservationIntro .heroText {
  width: 55%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 0 2rem;
  gap: 0.76rem;
}
.container .reservationIntro .heroText h1 {
  font-size: clamp(3.25rem, 7vw, 7rem);
  color: #dca0aa;
}
.container .reservationIntro .heroText h2 {
  font-size: clamp(1.4rem, 3vw, 3rem);
  width: 90%;
  color: whitesmoke;
  text-wrap: balance;
}
@media screen and (max-width: 1025px) {
  .container .reservationIntro {
    flex-direction: column-reverse;
    background-color: transparent;
  }
  .container .reservationIntro .heroImg {
    width: 100%;
  }
  .container .reservationIntro .heroImg figure img {
    width: 100%;
    height: clamp(40rem, 80vw, 80rem);
  }
  .container .reservationIntro .heroImg figure figcaption {
    text-align: end;
    color: black;
  }
  .container .reservationIntro .heroImg figure figcaption a {
    color: #0d0d38;
  }
  .container .reservationIntro .heroText {
    width: 85%;
    margin: auto;
    padding: 7.5vh 0;
    text-wrap: pretty;
  }
  .container .reservationIntro .heroText h1 {
    color: black;
  }
  .container .reservationIntro .heroText h2 {
    width: 100%;
    color: black;
  }
}
.container form {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: -moz-fit-content;
  height: fit-content;
  gap: 2vh;
  margin: 5rem auto;
}
.container form h1 {
  font-size: clamp(2.25rem, 3vw, 3rem);
}
.container form fieldset {
  border: none;
}
.container form fieldset legend {
  font-size: clamp(1.5rem, 2vw, 2rem);
  text-decoration: underline;
  margin: 1.5vh 0;
}
.container form fieldset label {
  font-size: clamp(1.5rem, 2vw, 1.75rem);
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.container form fieldset label input {
  border-width: 0px 0px 5px 0px;
  border-color: #010B13;
  padding: 1.5rem;
  background-color: transparent;
}
.container form fieldset label textarea {
  border: 3px solid #1C2E43;
  padding: 1rem;
  text-wrap: balance;
  font-size: clamp(1.25rem, 1.5vw, 1.7rem);
}
.container form fieldset label input:hover, .container form fieldset label textarea:hover {
  border-bottom: 4px solid #ef778b;
}
.container form fieldset label input:focus {
  border-bottom: 4px solid #ef778b;
}
.container form fieldset label textarea:hover, .container form fieldset label textarea:focus {
  border: 4px solid #ef778b;
}
.container form .personInfo {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.container form .personInfo label #reservationName {
  width: 100%;
}
.container form .personInfo fieldset {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.container form .personInfo fieldset label {
  width: 49%;
  gap: 1rem;
}
.container form .personInfo fieldset label #emailAddress, .container form .personInfo fieldset label #phoneNumber {
  width: 100%;
}
@media screen and (max-width: 500px) {
  .container form .personInfo fieldset {
    flex-direction: column;
  }
  .container form .personInfo fieldset label {
    width: 100%;
  }
}
.container form .reservationInfo {
  display: flex;
  justify-content: space-between;
}
.container form .reservationInfo label {
  width: 30%;
}
@media screen and (max-width: 600px) {
  .container form .reservationInfo {
    flex-direction: column;
  }
  .container form .reservationInfo label {
    width: 100%;
  }
}
.container form .formButtons {
  display: flex;
  width: 100%;
  flex-direction: row-reverse;
  justify-content: space-between;
}
.container form .formButtons input {
  width: 47%;
  padding: 1rem;
}
.container form .formButtons input:hover {
  border: 4px solid black;
  background-color: white;
  color: black;
}
.container form .formButtons #submitBtn {
  background-color: #1C2E43;
  color: white;
}
.container form .formButtons #submitBtn:hover {
  border: 4px solid black;
  background-color: white;
  color: black;
}
.container footer {
  background-color: #1C2E43;
  color: white;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 2rem;
}
.container footer .business-info {
  display: flex;
  width: 100%;
  padding: 0 3rem;
  flex-wrap: wrap;
  gap: 2rem;
}
.container footer .business-info .footer-contact {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.container footer .business-info .footer-contact h2 {
  font-size: clamp(1.25rem, 2.5vw, 2.5rem);
  text-decoration: underline;
}
.container footer .business-info .footer-contact ul {
  list-style-position: inside;
  list-style-type: square;
  display: flex;
  flex-direction: column;
}
.container footer .business-info .footer-contact ul li {
  font-size: clamp(1rem, 1.75vw, 1.75rem);
}
.container footer hr {
  width: 90%;
  margin: auto;
}
.container footer .s-row {
  display: flex;
  justify-content: space-between;
  margin: 0 3rem;
  flex-wrap: wrap-reverse;
  padding-top: 1rem;
}
.container footer .s-row figure {
  width: 45%;
}
.container footer .s-row figure iframe {
  width: 100%;
  height: clamp(22rem, 35vw, 35rem);
  background-size: cover;
  border: 5px solid rgb(255, 255, 255);
  outline: 5px solid #cbcbcb;
  background-color: #e1e0e1;
}
.container footer .s-row .operations {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.container footer .s-row .operations h2 {
  font-size: clamp(1.5rem, 3vw, 3rem);
  text-decoration: underline;
  margin-bottom: 1rem;
}
.container footer .s-row .operations .dayhours {
  display: flex;
  justify-content: space-between;
}
.container footer .s-row .operations .dayhours ul {
  list-style: none;
}
.container footer .s-row .operations .dayhours ul li {
  font-size: clamp(1.25rem, 2vw, 2rem);
}
@media screen and (max-width: 700px) {
  .container footer .s-row {
    flex-direction: column;
    gap: 8vh;
  }
  .container footer .s-row .operations {
    width: 100%;
  }
  .container footer .s-row figure {
    width: 100%;
  }
}
.container footer span {
  width: 100%;
  text-align: center;
  font-size: 1rem;
  padding-top: -2rem;
  padding-bottom: 2rem;
}
.container footer .footer-info {
  display: flex;
  flex-direction: column;
  margin-top: 2.5rem;
  flex-wrap: wrap;
  padding: 0 3rem;
}
.container footer .footer-info nav {
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  padding-top: 2rem;
}
.container footer .footer-info nav ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
}
.container footer .footer-info nav ul li {
  list-style-type: none;
}
.container footer .footer-info nav ul li a {
  color: #F4F0EC;
  text-decoration: none;
  border-top: 5px solid rgb(255, 255, 255);
  transition: 0.2s ease-in;
  padding: 0.5rem 1.5rem;
  font-size: clamp(1rem, 2vw, 1.5rem);
  letter-spacing: 0.25rem;
}
.container footer .footer-info nav ul li a:hover {
  color: #E9C5B8 !important;
  border-top: 10px solid #E9C5B8 !important;
  padding: 0.5rem 2rem;
  background-color: #1C2E43;
}
.container footer .footer-info nav ul li a:focus {
  color: #E9C5B8 !important;
  border-top: 10px solid #E9C5B8 !important;
  background-color: #1C2E43;
}
.container footer .footer-info nav ul li a:visited {
  color: #BDA4A8;
  border-color: #BDA4A8;
}
.container footer .footer-info .branding h2 {
  font-size: clamp(3rem, 6vw, 6rem);
  text-decoration: underline;
}/*# sourceMappingURL=index.css.map */